<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="dashboard px-32 pt-40">
      <div class="flex items-center mb-32">
        <q-btn
          @click="router.push({ name: 'dashboard' })"
          class="h-40 w-40"
          round
          dense
          flat
          icon="arrow_back"
        />
        <h5
          class="text-28 text-weight-bold q-my-none text-dashboard-primary q-ml-sm line-height-30"
        >
          Create A New Task
        </h5>
      </div>
      <div class="max-w-456">
        <q-form @submit.prevent="handleSubmit">
          <div class="q-mb-lg">
            <p class="q-mb-none">Task Title <span class="text-red">*</span></p>
            <q-input
              v-model="taskTitle"
              required
              borderless
              class="q-px-sm border-dashboard-primary"
              placeholder="Task Title"
            />
          </div>
          <div>
            <q-list
              v-for="form in formInputs"
              :key="form.id"
              bordered
              input-class="border-dashboard-color"
              class="q-pa-md q-mb-md border-dashboard-primary"
            >
              <q-expansion-item
                default-opened
                header-class="q-pa-none justify-end"
                dense
              >
                <template #header>
                  <q-icon
                    color="teal"
                    name="delete"
                    size="2rem"
                    @click.stop="removeTodoInputsById(form.id)"
                  />
                </template>
                <div>
                  <div class="q-mb-md">
                    <p class="q-mb-none">
                      Task Name <span class="text-red">*</span>
                    </p>
                    <q-input
                      required
                      v-model="form.taskName"
                      placeholder="Task Name"
                      class="q-px-sm border-dashboard-primary"
                      borderless
                    />
                  </div>
                  <div>
                    <p class="q-mb-none">Time</p>
                    <q-input
                      v-model="form.time"
                      mask="time"
                      :rules="['time']"
                      class="q-pb-none q-mb-sm border-dashboard-primary"
                      input-class="q-px-sm"
                      borderless
                    >
                      <template v-slot:append>
                        <q-icon
                          name="schedule"
                          class="cursor-pointer q-mr-sm"
                          color="black"
                          @click.stop="form.showTime = !form.showTime"
                        >
                        </q-icon>
                      </template>
                    </q-input>
                    <q-slide-transition>
                      <div v-show="form.showTime">
                        <q-time
                          v-model="form.time"
                          class="full-width q-time"
                          flat
                        >
                        </q-time>
                        <div class="flex justify-around">
                          <q-btn
                            class="custom-btn"
                            @click="handleCancelTime(form)"
                            rounded
                            label="Cancel"
                            no-caps
                            unelevated
                          />
                          <q-btn
                            rounded
                            label="Save"
                            no-caps
                            class="submit-btn bg-dashboard-primary text-white custom-btn"
                            unelevated
                            @click="handleSubmitTime(form)"
                          />
                        </div>
                      </div>
                    </q-slide-transition>
                  </div>
                </div>
              </q-expansion-item>
            </q-list>
          </div>
          <div
            class="full-width flex flex-center border-dashboard-primary h-80 border-style-dashed mb-32"
          >
            <q-btn
              type="button"
              @click="addNewTodoInputs()"
              class="q-mt-none bg-dashboard-primary text-white h-40 w-40"
              icon="add"
              round
            />
          </div>
          <div class="flex gap-5">
            <q-btn
              class="custom-btn"
              @click="handleCancel"
              rounded
              label="Cancel"
              no-caps
              unelevated
            />
            <q-btn
              type="submit"
              rounded
              label="Save"
              no-caps
              class="submit-btn bg-dashboard-primary text-white custom-btn"
              unelevated
            />
          </div>
        </q-form>
      </div>
    </div>
  </transition>
</template>

<script src="./scripts/AddNewTask.js"></script>

<style lang="scss">
@import './styles/AddNewTask.scss';
</style>
