<template>
  <div>
    <q-expansion-item
      :default-opened="defaultOpened"
      header-style="display: flex; align-items:center; justify-content: space-between"
      expand-icon-class="q-pr-none"
      class="ba-gray br-8 btlr-0"
    >
      <template #header="{ expanded }">
        <div
          class="row justify-between items-center full-width text-dashboard-primary text-weight-bold"
        >
          <span>{{ title }}</span>
          <div>
            <q-btn-dropdown
              dropdown-icon="more_horiz"
              v-if="expanded && !finished"
              class="text-black"
              @click.stop
              flat
              content-style="border-radius: 8px"
            >
              <q-list
                class="q-py-md w-184 h-104 br-8 border-dashboard-primary"
                style="
                  border: 1px solid #249990;
                "
              >
                <q-item
                  clickable
                  v-close-popup
                  @click="handleEdit"
                  class="q-py-none"
                  style="min-height: auto; height: 36px"
                >
                  <q-item-section>
                    <q-item-label>Edit</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item
                  clickable
                  v-close-popup
                  @click="handleDelete"
                  class="q-py-none"
                  style="min-height: auto; height: 36px"
                >
                  <q-item-section>
                    <q-item-label>Delete</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <span v-if="!expanded && date">{{ date }}</span>
          </div>
        </div>

        <q-slide-transition>
          <div
            v-if="expanded"
            class="board-header-outside bg-dashboard-primary text-white text-weight-bold"
          >
            <p class="q-mb-none p-10-24">
              {{ !finished ? 'In Process' : 'Done' }}
            </p>
          </div>
        </q-slide-transition>
      </template>

      <q-card-section class="q-pa-none min-h-200">
        <q-list>
          <TodoItem
            v-for="todo in todos"
            :key="todo.id"
            :taskId="todo.taskId"
            :todoId="todo.id"
            :done="todo.done"
            :name="todo.name"
            :time="todo.time"
          />
        </q-list>
      </q-card-section>
      <q-card-section
        class="text-dashboard-primary text-right text-weight-bold"
      >
        <span>{{ date }}</span>
      </q-card-section>
    </q-expansion-item>
  </div>
</template>

<script src="../scripts/Board.js"></script>

<style lang="scss" scoped>
@import '../styles/Board.scss';
</style>
