<template>
  <MainDialog
    :content="$options.components.CustomModal"
    @agree="handleAgree"
    @disagree="handleDisagree"
  />
  <q-list
    class="row q-col-gutter-xl q-mb-xl"
    v-for="task in filteredTasks"
    :key="task.id"
  >
    <Board
      @delete="showDialog"
      :default-opened="Tasks[0].id === task.id"
      :taskId="task.id"
      :title="task.title"
      :date="task.date"
      :todos="task.inProcessTodos"
      class="col-6"
    />
    <Board
      finished
      :default-opened="Tasks[0].id === task.id"
      :taskId="task.id"
      :title="task.title"
      :date="task.date"
      :todos="task.doneTodos"
      class="col-6"
    />
  </q-list>
</template>

<script src="../scripts/BoardList"></script>
