<template>
  <q-item class="align-items-center q-py-none">
    <q-checkbox color="teal" v-model="check" />
    <label class="full-width flex justify-between">
      <p class="q-mb-none flex items-center">{{ name }}</p>
      <p class="q-mb-none flex items-center">{{ time }}</p>
    </label>
  </q-item>
</template>

<script src="../scripts/TodoItem.js"></script>
