@import './Dashboard.scss';

.custom-btn {
  padding: 6px 16px;
  width: 128px;
  height: 32px;
}

.h-40 {
  height: 40px;
}

.w-40 {
  width: 40px;
}

.line-height-30 {
  line-height: 30.17px;
}

.max-w-456 {
  max-width: 456px;
}

.h-80 {
  height: 80px;
}

.border-style-dashed {
  border-style: dashed;
}

.mb-32 {
  margin-bottom: 32px;
}

.gap-5 {
  gap: 5px;
}

.q-time .q-time__header .q-time__header-label .q-time__link:first-child {
  color: #249990;
  font-weight: bold;
  font-size: 40px;
}

.q-time .q-time__header .q-time__header-label .q-time__link:last-child,
.q-time .q-time__header .q-time__header-label div {
  // color: #249990;
  color: #212121;
  font-weight: bold;
  font-size: 40px;
}

.q-time .q-time__header .q-time__link:last-child {
  color: #249990;
  font-weight: bold;
}

.q-time .q-time__header .q-time__link:first-child {
  color: #212121;
  font-weight: bold;
}

.q-time__container-child {
  border: 1px solid #249990;
}

.q-time__clock {
  background-color: white;
}

.q-time__clock-pointer {
  background-color: #249990;
  border: 3px;
}

.q-time__clock-pointer::after {
  background-color: #249990;
  border: 3px;
}

.q-time__clock-pointer::after {
  background-color: #249990;
  border: 3px;
}

.q-time__clock-position {
  font-size: 16px;
  font-weight: 700;
  color: #249990;
  line-height: 20.11px;
  width: 28.8px;
  height: 28.8px;
}
