@import './global.scss';

// SPACING
.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.pt-40 {
  padding-top: 40px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mr-40 {
  margin-right: 40px;
}

// Typography

.text-weight-semibold {
  font-weight: 600;
}

.dashboard {
  color: #212121;
}
